@tailwind base;
@tailwind components;
@tailwind utilities;

.top-header {
  height: 155px;
  background:/*  url("images/bg-header-desktop.svg") */ no-repeat #5da5a4;
  background-size: cover;
}
@media (max-width: 639px) {
  .top-header {
    /* background-image: url("images/bg-header-mobile.svg"); */
    height: 100px;
  }
}
